<!-- 
        This is the configuration file for the License Express(tm) License Installer.  If you want to
        use the License Installer to simplify your customer's task of entering a license key for use
        with your product, you'll need to copy this config file to your product installation directory
        and change the relevant properties below.  You may also want to set up a shortcut to the 
        License Installer, the process for which is documented in the License Express User's
        guide.
-->

<configuration>
    <appSettings>
        <add key="vendorName" value="Wanderlust Software, LLC" />
        <add key="productName" value="License Express(tm)" />
        <add key="licenseKeyFilePath" value="licX.KeyGenWin.lic" />
    </appSettings>
</configuration>

